@import "./normalize.css";
@import "./common.css";

:root {
  --main-font: 'Roboto', sans-serif;
  --dark-color: #384259;
  --light-color: #c4edde;
  --light-shade1-color: #f0f5f9;
  --main-color: #f73859;

  --menu-size: 60px;
}

.container {
  width: 100vw;
  height: 100vh;;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-menu-wrapper {
  position: relative;
  filter: url('#liquid-effect');
  left: -30px;
}

.share-menu-item,
.share-menu-toggle {
  width: var(--menu-size);
  height: var(--menu-size);
  position: absolute;
}

.toggle-link {
  cursor: pointer;
}

.menu-link,
.toggle-link {
  width: var(--menu-size);
  height: var(--menu-size);
  display: block;
  background-color: var(--main-color);
  border-radius: 100px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-link i,
.toggle-link i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-wrapper {
  position: absolute;
  left: 0;
  top: 0;
}